<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>
		<title>Bookmarker</title>

		<!-- Bootstrap and JQuery -->
		<script src="/javascript/jquery.min.js"></script>
		<script src="/javascript/bootstrap.min.js"></script>
		<script src="/javascript/vue.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/all.css" />

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<div class="p-3" id="content-div">
			
			<div class="top-bar">

				<div v-if="editing">
					<div class="bookmark-form">
						<label for="bookmark-name-input">Name</label>
						<input v-model="pendingBookmark.name" type="text" id="bookmark-name-input" name="bookmarkName" />
						<label for="bookmark-category-input">Category</label>
						<input v-model="pendingBookmark.name" type="text" id="bookmark-name-input" name="bookmarkName" />
						<button class="btn btn-primary" v-on:click="updateBookmark">Ok</button>
					</div>
				</div>
				<div v-else>
					<div v-if="pendingBookmark">
						<div class="bookmark-form">
							<label for="bookmark-name-input">Add bookmark</label>
							<input v-model="pendingBookmark.name" type="text" id="bookmark-name-input" name="bookmarkName"
								v-on:click="bookmarkInputClicked" />
							<button class="btn btn-primary" v-on:click="updateBookmark">Add</button>
						</div>
						<small id="bookmark-help" class="form-text text-muted">Change the name and click Add to create a new bookmark</small>
					</div>
					<div v-else>
						<i class="fas fa-trash-alt" v-on:drop="drop" v-on:dragover="allowDrop"></i>
						<i class="fas fa-edit"></i>
					</div>
				</div>

			</div>
			<hr/>

			<div class="main-div">
				<span v-for="(category) in categories">
					<i class="fas fa-folder"></i><span class="category-label">{{category.name}}</span>
					<span v-if="category.bookmarks">
						<span v-for="(bookmark) in category.bookmarks">
							<br/>
							<a v-bind:href="bookmark.url" class="bookmark-label" v-bind:title="bookmark.url"
								draggable="true" v-on:dragstart="drag" v-bind:id="bookmark.id">
								<i class="fas fa-bookmark bookmark-icon"></i>{{bookmark.name}}
							</a>
						</span>
					</span>
					<span v-else>
						No bookmarks
					</span>
				</span>
			</div>

		</div>
		
	</body>

	<script src="/javascript/custom-vue.js"></script>

</html>