<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>
		<title>Bookmarker</title>

		<!-- Bootstrap and JQuery -->
		<script src="/javascript/jquery.min.js"></script>
		<script src="/javascript/bootstrap.min.js"></script>
		<script src="/javascript/vue.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		
		<!-- FontAwesome -->
		<link rel="stylesheet" href="/css/all.css" />

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/style.css" />

		<!-- Custom fonts -->
		<link rel="stylesheet" href="/css/opensans/opensans_regular_macroman/stylesheet.css" />

	</head>

	<body>
		<div class="p-3 container-lg" id="content-div">
			
			<!-- Top Bar, icons and edit area -->

			<div class="top-bar">

				<span class="help">
					<span class="text-muted username-text">User: {{currentUsername}}</span>
					<i class="fas fa-sign-out-alt" @click="logout" title="Sign out"></i>
					<i class="fas fa-question" @click="toggleHelp" title="Show help"></i>
				</span>
				<div v-if="editingBookmark">
					<div class="item-form">
						<label for="bookmark-name-input">Name</label>
						<input v-model="bookmarkToEdit.name" type="text" id="bookmark-name-input" name="bookmarkName"
							v-on:click="inputClicked" />
						<label for="bookmark-category-input">Category</label>
						<input v-model="bookmarkToEdit.category" type="text" id="bookmark-category-input" name="bookmarkCategory"
							v-on:click="inputClicked" />
						<span class="button-area">
							<button class="btn btn-primary" @click="addOrEditBookmark">Ok</button>
							<button class="btn btn-secondary" @click="refreshPage">Cancel</button>
						</span>
					</div>
				</div>
				<div v-else>
					<div v-if="editingCategory">
						<div class="item-form">
							<label for="category-name-input">Name</label>
							<input v-model="categoryToEdit.name" type="text" id="category-name-input" name="bookmarkName"
								@click="inputClicked" />
							<span class="button-area">
								<button class="btn btn-primary" @click="editCategory">Ok</button>
								<button class="btn btn-secondary" @click="refreshPage">Cancel</button>
							</span>
						</div>
					</div>
					<div v-else>
						<i class="fas fa-trash-alt" v-on:drop="dropForDelete" v-on:dragover="preventDefault" title="Drag bookmark or category here to delete"></i>
						<i class="fas fa-edit" v-on:drop="dropForEdit" v-on:dragover="preventDefault" title="Drag bookmark or category here to edit"></i>

						<div class="instructions" :class="[showHelp ? showClass : hideClass]">
							<span class="text-muted">
								<strong>How do I create a new bookmark?</strong>
								<p>Drag <a :href="jsButton"><img src="/images/savebookmark.png" @click="preventDefault" alt="Save Bookmark"/></a> 
									onto your bookmarks bar. Then when you're on a page you want to bookmark, click the button and give it a name and category</p>
								<strong>Editing or deleting bookmarks and categories</strong>
								<p>You can drag a category or bookmark onto the icons above to edit or delete</p>
							</span>
						</div>
					</div>
				</div>

			</div>
			<hr/>

			<!-- Main panel showing bookmarks -->

			<div class="main-div">

				<!-- row -->
				<div class="row">
				
					<!-- category -->
					<div v-for="(category) in categories" v-if="category.bookmarks.length > 0" class="category-area col-3">
					
						<div class="category-label" draggable="true" v-on:dragstart="drag" v-bind:id="'category.' + category.id">
							<i class="fas fa-folder"></i>{{category.name}}
						</div>
						<div v-for="(bookmark) in category.bookmarks" class="bookmark-text-area">
							<a v-bind:href="bookmark.url" target="_blank" class="bookmark-label" v-bind:title="bookmark.url"
								draggable="true" v-on:dragstart="drag" v-bind:id="'bookmark.' + bookmark.id">
								<span v-if="bookmark.faviconContents">
									<img class="bookmark-icon" :src="'data:image/png;base64,' + bookmark.faviconContents" />
								</span>
								<span v-else>
									<i class="fas fa-bookmark bookmark-icon"></i>
								</span>
								{{bookmark.name}}
							</a>
						</div>

					</div> <!-- end category -->

				</div> <!-- end row -->

			</div>

		</div>
		
	</body>

	<script src="/javascript/custom-vue.js"></script>

</html>