body {
    background-color: #ddd;
    font-family: "open_sansregular","Helvetica Neue",helvetica,arial,sans-serif;
}

.items-form > * {
    display: inline;
    margin: 5px 3px;
}

.category-label {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

.bookmark-label {
    color: #333;
    margin-left: 20px;
}

.bookmark-text-area {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-bar i {
    font-size: 1.4em;
    margin-right: 5px;
}

.instructions {
    margin-top: 0.50em;
    background-color: #eee;
    border-radius: 25px;
    padding: 0.5em;
}

.main-div i {
    margin-right: 10px;
}

.no-bookmarks {
    font-style: italic;
    color: #777;
}

.category-area {
    padding: 10px 20px 20px 15px;
    margin:10px;
}

.category-area * {
    cursor: pointer;
}

.help {
    float:right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bookmark-icon {
    margin-right: 10px;
}

.help i {
    cursor: pointer;
}

button {
    width: 75px;
}

.button-area {
    margin-left: 20px;
}

.username-text {
    margin-right: 1em;
    display: inline-block;
    vertical-align: top;
}