.items-form > * {
    display: inline;
    margin: 5px 3px;
}

.delete-icon {
    width: 50px;
    height: 50px;
}

.category-label {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

.bookmark-label {
    color: #333;
    margin-left: 20px;
}

.top-bar i {
    font-size: 1.5em;
    margin-right: 5px;
}

.instructions {
    margin-top: 0.50em;
}

.main-div i {
    margin-right: 10px;
}

.no-bookmarks {
    font-style: italic;
    color: #777;
}

.category-area * {
    cursor: pointer;
}

.help {
    float:right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bookmark-icon {
    margin-right: 10px;
}